{% extends 'admin.html' %}

{% load utils %}

{% block content-header %}
<div class="float-right">
    <span>
        {% url 'restaurants-menus-index-admin' as view_url %}
            {% include 'partials/actions/menu.html' with type='button' url=view_url title='Ir a Menu' %}
    </span>
    <span>
        {% url 'restaurants-schedules-index-admin' as view_url %}
            {% include 'partials/actions/schedule.html' with type='button' url=view_url title='Ir a Horarios' %}
    </span>
</div>
<nav aria-label="breadcrumb" class="alert-warning">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a class="page" href="{% url 'restaurants-index-admin' %}" data-tooltip="tooltip" data-placement="right"
               title="Atrás">Restaurantes</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Detalles</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4 box box-body">
        <p><strong>{% get_field_name restaurant_obj 'is_active' %}</strong>
            {% if restaurant.is_active %}
            <span class="badge badge-success">ACTIVO</span>
            {% else %}
            <span class="badge badge-danger">INACTIVO</span>
            {% endif %}
        </p>
        <p><strong>{% get_field_name restaurant_obj 'title' %}</strong> {{ restaurant.title }}</p>
        <p><strong>{% get_field_name restaurant_obj 'destination' %}</strong> {{ restaurant.destination }}</p>
        <p><strong>{% get_field_name restaurant_obj 'address' %}</strong> {{ restaurant.address }}</p>
        <p><strong>{% get_field_name restaurant_obj 'phone' %}</strong> {{ restaurant.phone }}</p>
        <p><strong>{% get_field_name restaurant_obj 'score' %}</strong> {{ restaurant.score }}</p>
        <p><strong>{% get_field_name restaurant_obj 'web' %}</strong> {{ restaurant.web }}</p>
        <p><strong>{% get_field_name restaurant_obj 'lat' %}</strong> {{ restaurant.lat }}</p>
        <p><strong>{% get_field_name restaurant_obj 'lng' %}</strong> {{ restaurant.lng }}</p>
        <p><strong>{% get_field_name restaurant_obj 'service' %}</strong><br>
            {% for s in restaurant.service.all %}
            {{s.title}}<br>
            {% endfor %}
        </p>
        <p><strong>{% get_field_name restaurant_obj 'register_at' %}</strong> {{ restaurant.register_at }}</p>
    </div>
    <div class="col-md-8 box box-body" onload="initialize()">
        <div class="white-box">
            <p><strong>Ubicacion</strong></p>
            <div id="gmap" class="map"></div>
        </div>
        <br>
        <div class="white-box">
            <p><strong>{% get_field_name restaurant_obj 'image' %}</strong></p>
            <img src="{{ restaurant.image.url }}">
        </div>
    </div>
</div>
{% endblock %}
{% block code_js %}
{% include 'partials/_url_gmaps.html' %}
<script type="text/javascript">
        var map;
        var markers = [];
        var lat = '{{ restaurant.lat }}';
        var lng = '{{ restaurant.lng }}';
        function initialize() {
            var myLatlng = new google.maps.LatLng(lat, lng);
            var myOptions = {
                zoom: 16,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                gestureHandling: 'greedy'
            };

            map = new google.maps.Map(document.getElementById("gmap"), myOptions);

            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(lat, lng),
                map: map
            });
            markers.push(marker);
        }

        window.onload = function () {
            initialize()
        };






</script>
{% endblock %}
