{% extends 'admin.html' %}
{% load static %}
{% block content-header %}
<nav aria-label="breadcrumb" class="alert-warning">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a class="page" href="{% url 'events-index-admin' %}" data-tooltip="tooltip" data-placement="right"
               title="Atrás">Eventos</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Modificando</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="white-box">
            {% include 'partials/_partial_form_horizontal.html' %}
        </div>
    </div>
    <div class="col-md-6 text-center">
        <img class="pb-4" id="image_p" src="{{event.file.url}}" alt="your image" height="300px" width="300px"/>
        <div class="white-box">
            <div id="gmaplocation" class="map"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block code_js %}
{% include 'partials/_url_gmaps.html' %}
<script>
    function readURL(input) {
    console.log(input.files[0]);
        if (input.files && input.files[0]) {
             if (input.files[0].type.match('image.*')) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#image_p').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
            else{
                var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#image_p').attr('src', '{% static 'images/preview_video.png'%}' );
                    }
                    reader.readAsDataURL(input.files[0]);
            }
        }
    }
    $("#id_file").change(function () {
        readURL(this);
    });
</script>

<script type="text/javascript">
        $('#id_event_date').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' });
        $('#id_event_date').datepicker({
              format: 'dd/mm/yyyy',
              autoclose: true
            });

        var map;
        var markers = [];

        function initialize() {
            var myLatlng = new google.maps.LatLng('{{ event.lat }}', '{{ event.lng }}');
            var myOptions = {
                zoom: 14,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
            };

            map = new google.maps.Map(document.getElementById("gmaplocation"), myOptions);
            // marker refers to a global variable

            var marker = new google.maps.Marker({
                position: new google.maps.LatLng('{{ event.lat }}', '{{ event.lng }}'),
                map: map
            });
            markers.push(marker);

            google.maps.event.addListener(map, "click", function (event) {
                // get lat/lon of click
                var clickLat = event.latLng.lat();
                var clickLon = event.latLng.lng();

                // show in input box
                document.getElementById("id_lat").value = clickLat;
                document.getElementById("id_lng").value = clickLon;
                clearMapOnAll(null);

                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(clickLat, clickLon),
                    map: map
                });
                markers.push(marker)
            });
        }

        function clearMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }

        window.onload = function () {
            initialize()
        };

</script>
{% endblock %}