{% extends 'admin.html' %}

{% block content-header %}
<nav aria-label="breadcrumb" class="alert-warning">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a class="page" href="{% url 'tourism_sites-services-index-admin' %}" data-tooltip="tooltip"
               data-placement="right"
               title="Atrás">Servicio de Sitios Turisticos</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Modificando</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="white-box">
            {% include 'partials/_partial_form_horizontal.html' %}
        </div>
    </div>
    <div class="col-md-6">
            <img id="image_p" src="{{service.image.url}}" alt="your image" height="100px" width="100px"/>
        </div>
</div>
{% endblock %}

{% block code_js %}
{% endblock %}