<!-- Header Navbar -->
{% load static %}
{% load utils %}
<nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
    </a>
    <h3 class="title_main">SISTOUR</h3>
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

            <!-- Notifications -->
            <li class="dropdown notifications-menu">
                {% if get_quantity_notify > 0 %}
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="mdi mdi-bell"></i>
                </a>
                {% else %}
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="mdi mdi-bell"></span>
                </a>
                {% endif %}
                <ul class="dropdown-menu scale-up">
                    <li class="header">Tienes {% get_quantity_notify %} Notificaciones</li>
                    <li>
                        <!-- inner menu: contains the actual data -->
                        <ul class="menu inner-content-div">
                            {% get_notify_transports as notifications %}
                            {% for notification in notifications %}
                            <li>
                                <a href="{% url 'notifications' %}">
                                    <i class="fa fa-bus text-blue"></i> Actualizacion: {{notification.title}}
                                </a>
                            </li>
                            {% endfor %}
                            {% get_notify_lodgings as notifications %}
                            {% for notification in notifications %}
                            <li>
                                <a href="{% url 'notifications' %}">
                                    <i class="fa fa-building-o text-green"></i>Actualizacion:
                                    {{notification.title}}
                                </a>
                            </li>
                            {% endfor %}
                            {% get_notify_restaurants as notifications %}
                            {% for notification in notifications %}
                            <li>
                                <a href="{% url 'notifications' %}">
                                    <i class="glyphicon glyphicon-cutlery text-red"></i>Actualizacion:
                                    {{notification.title}}
                                </a>
                            </li>
                            {% endfor %}
                            {% get_notify_agencies as notifications %}
                            {% for notification in notifications %}
                            <li>
                                <a href="{% url 'notifications' %}">
                                    <i class="glyphicon glyphicon-queen text-yellow"></i>Actualizacion:
                                    {{notification.title}}
                                </a>
                            </li>
                            {% endfor %}
                            {% get_notify_sites as notifications %}
                            {% for notification in notifications %}
                            <li>
                                <a href="{% url 'notifications' %}">
                                    <i class="fa fa-podcast text-black"></i>Actualizacion:
                                    {{notification.title}}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="footer"><a href="{% url 'notifications' %}">View all</a></li>
                </ul>
            </li>
            <!-- Tasks -->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="mdi mdi-account-card-details"></i>
                </a>
                <ul class="dropdown-menu scale-up">
                    <!-- Widget: user widget style 1 -->
                    <div class="box box-widget widget-user-2">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header">
                            {% if request.user.is_authenticated %}
                            <div class="widget-user-image">
                                <img class="rounded-circle" src="{% static 'img/admin-img/user7-128x128.jpg' %}"
                                     alt="User Avatar">
                            </div>
                            <h3 class="widget-user-username uppercase"> {{request.user.username}}</h3>
                            {% get_user_groups request as group_user %}
                            {% if group_user.first is None %}
                            <h6 class="widget-user-desc">SUPERUSUARIO</h6>
                            {% else %}
                            <h6 class="widget-user-desc">{{group_user.first}}</h6>
                            {% endif %}
                            {% endif %}
                        </div>
                        <div class="box-footer p-1">
                            <ul class="nav d-block nav-stacked bg-secondary">
                                {% if request.user.is_authenticated %}
                                <li class="nav-item">
                                    <a href="{% url 'logout' %}" class="icon-profile nav-link p-5">
                                        <span class="text-black text-bold">Cerrar Sesion
                                            <i class="pull-left fa fa-power-off"></i>
                                        </span>
                                    </a>
                                </li>
                                {% else %}
                                <li class="nav-item  badge bg-yellow">
                                    <a href="{% url 'login' %}" class="icon-profile nav-link text-orange">Iniciar
                                        Sesion<i class="pull-left fa fa-power-off"></i></a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </ul>
            </li>
        </ul>
    </div>
</nav>