{% extends 'admin.html' %}

{% load utils %}
{% load static %}

{% block content-header %}
<div class="float-right">
    <span>
        {% url 'transports-schedules-new-admin' as view_url %}
        {% include 'partials/actions/add.html' with type='button' url=view_url title='Añadir' %}
    </span>
</div>
<nav aria-label="breadcrumb" class="alert-warning">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a class="page" href="{% url 'transports-index-admin' %}" data-tooltip="tooltip" data-placement="right"
               title="Hospedajes">Transportes</a>
        </li>
        <li class="breadcrumb-item">
            <a class="page_second" href="{% url 'transports-show-admin' transport_id %}" data-tooltip="tooltip"
               data-placement="right"
               title="Atrás">{{transport_title}}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Horarios</li>
    </ol>
</nav>
<form method="GET" action="" accept-charset="utf-8" class="input-group mb-3 col-10 col-md-8 col-lg-4">
    <input type="text" class="form-control" placeholder="Buscar" name="q" value="{{request.GET.q}}">
    <div class="input-group-append">
        <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
    </div>
</form>
{% endblock %}

{% block content %}
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th data-field="title" data-sortable="true">{% get_field_name schedule_obj 'day' %}</th>
            <th data-field="address" data-sortable="true">{% get_field_name schedule_obj 'schedule' %}</th>
            <th data-field="phone" data-sortable="true">{% get_field_name schedule_obj 'register_at' %}</th>
            <th class="text-center">Opciones</th>
        </tr>
        </thead>

        <tbody>
        {% for schedule in schedules %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{% get_days schedule.day %}</td>
            <td>{{ schedule.schedule }}</td>
            <td>{{ schedule.register_at }}</td>
            <td class="text-center">
                {% url 'transports-schedules-edit-admin' schedule.id as edit_url %}
                {% include 'partials/actions/edit.html' with url=edit_url %}
                {% url 'transports-schedules-delete-admin' schedule.id as delete_url %}
                {% include 'partials/actions/delete.html' with url=delete_url %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="pagination">
    <span class="step-links">
        {% if schedules.has_previous %}
            <a class="btn btn-info"
               href="?page=1 {% if request.GET.q %}&q={{request.GET.q}}{% endif %}">&laquo; Primero</a>
            <a class="btn btn-info"
               href="?page={{ schedules.previous_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">Anterior</a>
        {% endif %}

        <span class="current btn btn-success">
            Pagina {{ schedules.number }} de {{ schedules.paginator.num_pages }}.
        </span>

        {% if schedules.has_next %}
            <a class="btn btn-primary"
               href="?page={{ schedules.next_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">Siguiente</a>
            <a class="btn btn-primary"
               href="?page={{ schedules.paginator.num_pages }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">Ultimo &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}

{% block code_js %}
<script>
    $('.sidebar-menu li').removeClass('active');
    $('#transports').toggleClass("active");

    $('.treeview-menu li').removeClass('active');
    $('#transports-transports').toggleClass("active");
</script>
{% endblock %}

