{% extends 'admin.html' %}

{% block content-header %}
<nav aria-label="breadcrumb" class="alert-warning">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a class="page" href="{% url 'transports-index-admin' %}" data-tooltip="tooltip" data-placement="right"
               title="Atrás">Transportes</a>
        </li>
        <li class="breadcrumb-item">
            <a class="page_second" href="{% url 'transports-show-admin' transport_id %}" data-tooltip="tooltip"
               data-placement="right"
               title="{{transport_title}}">{{transport_title}}</a>
        </li>
        <li class="breadcrumb-item">
            <a class="page_third" href="{% url 'transports-schedules-index-admin' %}" data-tooltip="tooltip"
               data-placement="right"
               title="Destinos">Destinos</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Agregando</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-7">
        <div class="white-box">
            {% include 'partials/_partial_form_horizontal.html' %}
        </div>
    </div>
</div>
{% endblock %}
{% block code_js %}
<script>
    $('.sidebar-menu li').removeClass('active');
    $('#transports').toggleClass("active");

    $('.treeview-menu li').removeClass('active');
    $('#transports-transports').toggleClass("active");
</script>
{% endblock %}