{% extends 'admin.html' %}
{% load static %}

{% block content-header %}
<nav aria-label="breadcrumb" class="alert-warning">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a class="page" href="{% url 'configurations-index' %}" data-tooltip="tooltip" data-placement="right"
               title="Atrás">Secretario</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Agregando</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="white-box">
            {% include 'partials/_partial_form_horizontal.html' %}
        </div>
    </div>
    <div class="col-md-6">
        <img id="image_p" src="{% static 'img/admin-img/noimage.png'%}" alt="your image" height="300px" width="300px"/>
    </div>
</div>
{% endblock %}

{% block code_js %}
<script>
    $('.sidebar-menu li').removeClass('active');
    $('#settings').toggleClass("active");

    $('.treeview-menu li').removeClass('active');
    $('#configurations').toggleClass("active");
</script>
{% endblock %}