{% extends 'admin.html' %}

{% block content-header %}
<a href="{% url 'tourism_sites-schedules-index-admin' %}" data-tooltip="tooltip" data-placement="right" title="Atrás"><i
        class="fa fa-arrow-circle-left"></i></a> Modificando Horario de Sitio Turistico
<br>
 <h6 class="title_main">{{site_title}}</h6>
<h6 class="title_main">{{destiny_title}}</h6>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="white-box">
                {% include 'partials/_partial_form_horizontal.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block code_js %}
{% endblock %}