{% extends 'admin.html' %}
{% load static %}
{% block content-header %}
<nav aria-label="breadcrumb" class="alert-warning">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a class="page" href="{% url 'tourism_routes-index-admin' %}" data-tooltip="tooltip" data-placement="right"
               title="Rutas Turisticas">Rutas Turisticas</a>
        </li>
        <li class="breadcrumb-item">
            <a class="page_second" href="{% url 'tourism_routes-show-admin' route_id %}" data-tooltip="tooltip" data-placement="right"
               title="{{route_title}}">{{route_title}}</a>
        </li>
        <li class="breadcrumb-item">
            <a class="page_third" href="{% url 'tourism_routes-menus-index-admin' %}" data-tooltip="tooltip" data-placement="right"
               title="Atractivos">Atractivos</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Agregando</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="white-box">
            {% include 'partials/_partial_form_horizontal.html' %}
        </div>
    </div>
    <div class="col-md-6">
        <img id="image_p" src="{% static 'img/admin-img/noimage.png'%}" alt="your image" height="300px"/>
    </div>
</div>
{% endblock %}
{% block code_js %}

<script>
    $('.sidebar-menu li').removeClass('active');
    $('#routes').toggleClass("active");
</script>
{% endblock %}