{% extends 'admin.html' %}

{% block content-header %}
<h6>Datos de Secretaria</h6>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="white-box">
            <form method="post" action="{{ url_form }}" novalidate enctype="multipart/form-data">
                 {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Secretario (a)</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Objetivos</label>
                        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAddress">Funciones</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
                <div class="form-group">
                    <label for="inputAddress2">Leyes</label>
                    <input type="text" class="form-control" id="inputAddress2"
                           placeholder="Apartment, studio, or floor">
                </div>
                <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block code_js %}
{% endblock %}