{% extends 'admin.html' %}
{% load staticfiles %}
{% load static %}
{% load utils %}

{% block content %}

<h5>Crear Cuenta</h5>
<div class="row">
    <div class="col-6">
        <form method="post" class="form-group">
            {% csrf_token %}
            {% if form.errors %}
            <p>Hay errores en el formulario</p>
            {% endif %}
            {{ form.as_p }}
            <input class="btn btn-primary" type="submit" value="Register">
        </form>
    </div>
</div>
{% endblock %}