{% extends 'admin.html' %}
{% load staticfiles %}
{% load static %}
{% load utils %}

{% block content %}

<h5>Lista de usuarios</h5>
<a class="btn btn-info float-right" href="{% url 'register'%}">Registrar usuario</a>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th data-field="name" data-sortable="true">Nombre de Usuario</th>
            <th data-field="password" data-sortable="true">Password</th>
            <th class="text-center">Opciones</th>
        </tr>

        </thead>

        <tbody>
        {% for user in users %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.password }}</td>
            <td class="text-center">
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}