{% extends 'admin.html' %}

{% load utils %}
{% load static %}

{% block content-header %}
<div class="float-right">
    {% url 'lodgings-new-admin' as view_url %}
    {% include 'partials/actions/add.html' with type='button' url=view_url title='Añadir' %}
</div>
<nav aria-label="breadcrumb" class="alert-warning">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active page" aria-current="page">Hospedajes</li>
    </ol>
</nav>
<form method="GET" action="" accept-charset="utf-8" class="input-group mb-3 col-10 col-md-8 col-lg-4">
    <input type="text" class="form-control" placeholder="Buscar" name="q" value="{{request.GET.q}}">
    <div class="input-group-append">
        <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
    </div>
</form>
{% endblock %}

{% block content %}
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th data-field="title" data-sortable="true">{% get_field_name lodging_obj 'title' %}</th>
            <th data-field="destination" data-sortable="true">{% get_field_name lodging_obj 'destination' %}</th>
            <th data-field="address" data-sortable="true">{% get_field_name lodging_obj 'address' %}</th>
            <th data-field="phone" data-sortable="true">{% get_field_name lodging_obj 'phone' %}</th>
            <th data-field="is_active" data-sortable="true">{% get_field_name lodging_obj 'is_active' %}</th>
            <th class="text-center">Opciones</th>
        </tr>
        </thead>

        <tbody>
        {% for lodging in lodgings %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ lodging.title }}</td>
            <td>{{ lodging.destination }}</td>
            <td>{{ lodging.address }}</td>
            <td>{{ lodging.phone }}</td>
            <td class="text-center" width="8%">
                {% if lodging.is_active %}
                <a href="{% url 'lodgings-inactive-admin' lodging.id %}"
                   class="badge badge-pill badge-success text-white">ACTIVO</a>
                {% else%}
                <a href="{% url 'lodgings-active-admin' lodging.id %}" class="badge badge-pill badge-danger text-white">INACTIVO</a>
                {% endif %}
            </td>
            <td class="text-center">
                {% url 'lodgings-show-admin' lodging.id as view_url %}
                {% include 'partials/actions/view.html' with url=view_url %}
                {% url 'lodgings-edit-admin' lodging.id as edit_url %}
                {% include 'partials/actions/edit.html' with url=edit_url %}
                {% url 'lodgings-delete-admin' lodging.id as delete_url %}
                {% include 'partials/actions/delete.html' with url=delete_url %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="pagination">
    <span class="step-links">
        {% if lodgings.has_previous %}
            <a class="btn btn-info"
               href="?page=1 {% if request.GET.q %}&q={{request.GET.q}}{% endif %}">&laquo; Primero</a>
            <a class="btn btn-info"
               href="?page={{ lodgings.previous_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">Anterior</a>
        {% endif %}

        <span class="current btn btn-success">
            Pagina {{ lodgings.number }} de {{ lodgings.paginator.num_pages }}.
        </span>

        {% if lodgings.has_next %}
            <a class="btn btn-primary"
               href="?page={{ lodgings.next_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">Siguiente</a>
            <a class="btn btn-primary"
               href="?page={{ lodgings.paginator.num_pages }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">Ultimo &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}

{% block code_js %}
<script>
    $('.sidebar-menu li').removeClass('active');
    $('#lodgings').toggleClass("active");

    $('.treeview-menu li').removeClass('active');
    $('#lodgings-lodgings').toggleClass("active");
</script>
{% endblock %}

