{% extends 'admin.html' %}

{% block content-header %}
<nav aria-label="breadcrumb" class="alert-warning">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a class="page" href="{% url 'transports-index-admin' %}" data-tooltip="tooltip" data-placement="right"
               title="Atrás">Transportes</a>
        </li>
        <li class="breadcrumb-item">
            <a class="page_second" href="{% url 'transports-show-admin' transport_id %}" data-tooltip="tooltip" data-placement="right"
               title="{{transport_title}}">{{transport_title}}</a>
        </li>
        <li class="breadcrumb-item">
            <a class="page_third" href="{% url 'transports-destination-index-admin' %}" data-tooltip="tooltip" data-placement="right"
               title="{{destination_title}}">{{destination_title}}</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'transports-type-services-index-admin' %}" data-tooltip="tooltip" data-placement="right"
               title="Tipos de Servicios">Tipos de Servicios</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Modificando</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="white-box">
                {% include 'partials/_partial_form_horizontal.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block code_js %}
{% endblock %}