{% extends 'admin.html' %}

{% load utils %}
{% load static %}

{% block content-header %}
    <a href="{% url 'tourism_routes-destination-show-admin' destiny_id %}" data-tooltip="tooltip" data-placement="right" title="Atrás"><i
        class="fa fa-arrow-circle-left"></i></a> Rutas Turisticos
    <h6 class="title_main">{{destiny_title}}</h6>
    {% url 'tourism_routes-new-admin' as view_url %}
    {% include 'partials/actions/add.html' with type='button' url=view_url title='Añadir' %}
{% endblock %}

{% block content %}
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th data-field="title" data-sortable="true">{% get_field_name route_obj 'title' %}</th>
            <th data-field="address" data-sortable="true">{% get_field_name route_obj 'description' %}</th>
            <th data-field="phone" data-sortable="true">{% get_field_name route_obj 'date' %}</th>
            <th data-field="description" data-sortable="true">{% get_field_name route_obj 'score' %}</th>
            <th class="text-center">Opciones</th>
        </tr>
        </thead>

        <tbody>
        {% for route in routes %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ route.title }}</td>
            <td>{{ route.description }}</td>
            <td>{{ route.date }}</td>
            <td>{{ route.score }}</td>
            <td class="text-center">
                {% url 'tourism_routes-show-admin' route.id as view_url %}
                {% include 'partials/actions/view.html' with url=view_url %}
                {% url 'tourism_routes-edit-admin' route.id as edit_url %}
                {% include 'partials/actions/edit.html' with url=edit_url %}
                {% url 'tourism_routes-delete-admin' route.id as delete_url %}
                {% include 'partials/actions/delete.html' with url=delete_url %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block code_js %}
<script type="text/javascript">
        $(document).ready(function () {
            $('[data-tooltip="tooltip"]').tooltip();
            $('[title]').tooltip();

            $('#confirm-delete').on('show.bs.modal', function (e) {

                var title = $(e.relatedTarget).data('title');
                var message = $(e.relatedTarget).data('message');

                if (title !== undefined)
                    $(this).find('.modal-header').html(title);
                if (message !== undefined)
                    $(this).find('.modal-body').html('<strong class="text-warning">' + message + '</strong>');
                $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
            });
        })

</script>
{% endblock %}

