{% extends 'admin.html' %}
{% load utils %}

{% block content %}
<nav aria-label="breadcrumb" class="alert-warning">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <h6 class="page">Configuraciones</h6>
        </li>
    </ol>
</nav>

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active"
           id="nav-secretary-tab" data-toggle="tab" href="#nav-secretary" role="tab"
           aria-controls="nav-secretary" aria-selected="true">Secretario</a>
        <a class="nav-item nav-link"
           id="nav-objective-tab" data-toggle="tab" href="#nav-objective" role="tab"
           aria-controls="nav-objective" aria-selected="false">Objetivos</a>
        <a class="nav-item nav-link"
           id="nav-function-tab" data-toggle="tab" href="#nav-function" role="tab"
           aria-controls="nav-function" aria-selected="false">Funciones</a>
        <a class="nav-item nav-link" id="nav-law-tab"
           data-toggle="tab" href="#nav-law" role="tab"
           aria-controls="nav-law" aria-selected="false">Leyes</a>
        <a class="nav-item nav-link" id="nav-social-tab"
           data-toggle="tab" href="#nav-social" role="tab"
           aria-controls="nav-social" aria-selected="false">Redes
            Sociales</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-secretary" role="tabpanel" aria-labelledby="nav-secretary-tab">
        <div class="row">
            <div class="col-12">
                <h5 class="text-center blink">SECRETARIO</h5>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th data-field="content" data-sortable="true">Datos</th>
                            <th class="text-center">
                                {% if not secretaries %}
                                <span>
                            {% url 'secretaries-new' as view_url %}
                            {% include 'partials/actions/add.html' with type='button' url=view_url title='Añadir' %}
                        </span>
                                {% else %}
                                <span> Opciones</span>
                                {% endif %}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for secretary in secretaries %}
                        <tr>
                            <td class="text-center">
                                <img src="{{secretary.image.url}}" width="200px"><br>
                                {{ secretary.full_name }}<br>
                                {{ secretary.rol }}
                            </td>
                            <td class="text-center">
                                {% url 'secretaries-edit' secretary.id as edit_url %}
                                {% include 'partials/actions/edit.html' with url=edit_url %}
                                {% url 'secretaries-delete' secretary.id as delete_url %}
                                {% include 'partials/actions/delete.html' with url=delete_url %}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-objective" role="tabpanel" aria-labelledby="nav-objective-tab">
        <div class="row">
            <div class="col-12">
                <h5 class="text-center blink">OBJETIVO</h5>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th data-field="name" data-sortable="true">Descripcion</th>
                            <th class="text-center">
                                {% if not objectives %}
                                <span>
                            {% url 'objectives-new' as view_url %}
                            {% include 'partials/actions/add.html' with type='button' url=view_url title='Añadir' %}
                        </span>
                                {% else %}
                                <span> Opciones</span>
                                {% endif %}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for objective in objectives %}
                        <tr>
                            <td>{{ objective.title }}</td>
                            <td class="text-center">
                                {% url 'objectives-edit' objective.id as edit_url %}
                                {% include 'partials/actions/edit.html' with url=edit_url %}
                                {% url 'objectives-delete' objective.id as delete_url %}
                                {% include 'partials/actions/delete.html' with url=delete_url %}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-function" role="tabpanel" aria-labelledby="nav-function-tab">
        <div class="row">
            <div class="col-12">
            <span class="float-right">
                {% url 'functions-new' as view_url %}
                {% include 'partials/actions/add.html' with type='button' url=view_url title='Añadir' %}
            </span>
                <h5 class="text-center blink">FUNCIONES</h5>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th data-field="name" data-sortable="true">Descripcion</th>
                            <th data-field="is_active" data-sortable="true">Estado</th>
                            <th class="text-center">Opciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for function in functions %}
                        <tr>
                            <td width="5%">{{ forloop.counter }}</td>
                            <td>{{ function.title }}</td>
                            <td class="text-center" width="8%">
                                {% if function.is_active %}
                                <a href="{% url 'functions-inactive-admin' function.id %}"
                                   class="badge badge-pill badge-success text-white">ACTIVO</a>
                                {% else%}
                                <a href="{% url 'functions-active-admin' function.id %}"
                                   class="badge badge-pill badge-danger text-white">INACTIVO</a>
                                {% endif %}
                            </td>
                            <td class="text-center" width="20%">
                                {% url 'functions-edit' function.id as edit_url %}
                                {% include 'partials/actions/edit.html' with url=edit_url %}
                                {% url 'functions-delete' function.id as delete_url %}
                                {% include 'partials/actions/delete.html' with url=delete_url %}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-law" role="tabpanel" aria-labelledby="nav-law-tab">
        <div class="row">
            <div class="col-12">
            <span class="float-right">
                {% url 'laws-new' as view_url %}
                {% include 'partials/actions/add.html' with type='button' url=view_url title='Añadir' %}
            </span>
                <h5 class="text-center blink">LEYES</h5>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th width="5%">#</th>
                            <th data-field="name" data-sortable="true">Descripcion</th>
                            <th data-field="content" data-sortable="true" width="10%">Contenido</th>
                            <th data-field="is_active" data-sortable="true" width="10%">Estado</th>
                            <th class="text-center" width="20%">Opciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for law in laws %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ law.title }}</td>
                            <td class="text-center">
                                <a href="{{law.file.url}}" target="_blank">
                                    <i class="glyphicon glyphicon-save" style="font-size:20px;"></i>
                                </a>
                            </td>
                            <td class="text-center" width="8%">
                                {% if law.is_active %}
                                <a href="{% url 'laws-inactive-admin' law.id %}"
                                   class="badge badge-pill badge-success text-white">ACTIVO</a>
                                {% else%}
                                <a href="{% url 'laws-active-admin' law.id %}"
                                   class="badge badge-pill badge-danger text-white">INACTIVO</a>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% url 'laws-edit' law.id as edit_url %}
                                {% include 'partials/actions/edit.html' with url=edit_url %}
                                {% url 'laws-delete' law.id as delete_url %}
                                {% include 'partials/actions/delete.html' with url=delete_url %}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-social" role="tabpanel" aria-labelledby="nav-social-tab">
        <div class="row">
            <div class="col-12">
                <h5 class="text-center blink">REDES SOCIALES</h5>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Red Social</th>
                            <th class="text-center">
                                {% if not socials %}
                                <span>
                            {% url 'socials-new' as view_url %}
                            {% include 'partials/actions/add.html' with type='button' url=view_url title='Añadir' %}
                            </span>
                                {% else %}
                                <span> Opciones</span>
                                {% endif %}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for social in socials %}
                        <tr>
                            <td>
                                <p><b>Facebook</b><br>{{ social.facebook }}</p>
                                <p><b>Whatsapp</b><br>{{ social.whatsapp }}</p>
                                <p><b>Instagram</b><br>{{ social.instagram }}</p>
                                <p><b>Twitter</b><br>{{ social.twitter }}</p>
                                <p><b>Youtube</b><br>{{ social.youtube }}</p>
                            </td>
                            <td class="text-center">
                                {% url 'socials-edit' social.id as edit_url %}
                                {% include 'partials/actions/edit.html' with url=edit_url %}
                                {% url 'socials-delete' social.id as delete_url %}
                                {% include 'partials/actions/delete.html' with url=delete_url %}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block code_js %}
<script>
    $('.sidebar-menu li').removeClass('active');
    $('#settings').toggleClass("active")

    $('.treeview-menu li').removeClass('active');
    $('#configurations').toggleClass("active");
</script>
{% endblock %}
