<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
{% load utils %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>SIS-TOUR</title>
    <link rel="icon" href="{% static 'img/core-img/icon.ico' %}">

    <!-- Core Stylesheet -->
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive/responsive.css' %}" rel="stylesheet">
    <!-- Responsive CSS -->
</head>


<body>
<!-- Preloader -->
<div id="preloader">
    <div class="dorne-load"></div>
</div>

<!-- ***** Search Form Area ***** -->
<div class="dorne-search-form d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="search-close-btn" id="closeBtn">
                    <i class="pe-7s-close-circle" aria-hidden="true"></i>
                </div>
                <form action="#" method="get">
                    <input type="search" name="caviarSearch" id="search"
                           placeholder="Search Your Desire Destinations or Events">
                    <input type="submit" class="d-none" value="submit">
                </form>
            </div>
        </div>
    </div>
</div>

<!-- ***** Header Area Start ***** -->
<header class="header_area" id="header">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-12 h-100">
                <nav class="h-100 navbar navbar-expand-lg">
                    <a class="navbar-brand" href="\">
                        <img src="/static/img/core-img/turismo.png" width="230px" height="70px" alt=""
                             class="d-none d-sm-block">
                        <img src="/static/img/core-img/turismo1.png" width="70px" height="70px" alt=""
                             class="d-block d-sm-none"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dorneNav"
                            aria-controls="dorneNav" aria-expanded="false" aria-label="Toggle navigation"><span
                            class="fa fa-bars"></span></button>
                    <!-- Nav -->
                    <div class="collapse navbar-collapse" id="dorneNav" style="text-align:center;">
                        <ul class="navbar-nav mr-auto" id="dorneMenu" style="text-align:center;">
                            <li class="nav-item" style="text-align:center;">
                                <a class="nav-link " href="\"><i class="fa fa-home" aria-hidden="true"></i> <br>Inicio
                                </a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                        class="fa fa-camera-retro" aria-hidden="true"></i> <br>Turismo <i
                                        class="fa fa-angle-down" aria-hidden="true"></i></a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{% url 'transports-index' %}">
                                        <i class="fa fa-bus" aria-hidden="true"></i> Transportes</a>
                                    <a class="dropdown-item" href="{% url 'lodging-index' %}">
                                        <i class="fa fa-hotel" aria-hidden="true"></i> Hospedajes</a>
                                    <a class="dropdown-item" href="{% url 'restaurants-index' %}">
                                        <i class="fa fa-cutlery"></i> Restaurantes</a>
                                    <a class="dropdown-item" href="{% url 'agencies-index' %}">
                                        <i class="fa fa-street-view" aria-hidden="true"></i> Agencias de turismo</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'events-index' %}">
                                    <i class="fa fa-bell" aria-hidden="true"></i> <br>Eventos Culturales</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'tourism_sites-index' %}">
                                    <i class="fa fa-universal-access" aria-hidden="true"></i><br> Sitios Turisticos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'tourism_routes-index' %}">
                                    <i class="fa fa-road" aria-hidden="true"></i><br>Rutas Turisticas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'secretary' %}">
                                    <i class="fa fa-institution " aria-hidden="true"></i> <br>Secretaria</a>
                            </li>
                        </ul>
                        <!-- Signin btn -->
                        <div class="dorne-signin-btn nav-item">
                            <a class="nav-link btn btn-info" href="{% url 'login' %}" target="_blank">
                                <i class="fa fa-user-circle-o"></i><br>Login</a>
                        </div>
                    </div>

                </nav>

                <div class="btn-group float-right fixed-right">
                    <a class="btn btn-warning">{% get_location request.session.id_main %}</a>
                    <a class="btn btn-warning dropdown-toggle dropdown-toggle-split"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-caret-down inline-block"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right bg-warning">
                        {% get_locations as locations %}
                        {% for location in locations %}
                        <a class="dropdown-item" href="{% url 'change-id-main' location.id %}">
                            <i id="locat-icon" class="fa fa-map-marker" aria-hidden="true"></i>
                            {{location.title}}
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->
{% block content %}
{% endblock %}

<!-- ****** Footer Area Start ****** -->
<footer class="dorne-footer-area d-none d-sm-block">
    <div class="container-fluid">
        <div class="contact-text">
            <p align="center">NUMERO DE VISITANTES</p>
        </div>
        <div class="row">
            <div class="col-12 d-md-flex align-items-center justify-content-between">
                <div class="footer-text ">
                    <p class="underline">GOBIERNO AUTONOMO DEPARTAMENTAL DE POTOSI</p>
                </div>
                <div class="footer-social-btns mb-3">
                    {% get_socials as socials %}
                    {% for social in socials %}
                    <a href="{{social.youtube}}" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
                    <a href="{{social.twitter}}" target="_blank"><i class="fa fa-twitter" aria-haspopup="true"></i></a>
                    <a href="{{social.instagram}}" target="_blank"><i class="fa fa-instagram" aria-haspopup="true"></i></a>
                    <a href="{{social.facebook}}" target="_blank"><i class="fa fa-facebook"
                                                                     aria-haspopup="true"></i></a>
                    <a href="{{social.whatsapp}}" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</footer>


<div class="dropdown fixed-position-message">
    <a id="navbarDropdown_" class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
       aria-expanded="false"><i class="fa fa-comment"></i>
    </a>
    <ul class="dropdown-menu gres bg-transparent align-social-btn" aria-labelledby="navbarDropdown_">
        <li class="dropdown-toggle dropdown-item bg-transparent" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <a href="https://api.whatsapp.com/send?phone=59172434117" target="_blank">
                <img src="{% static 'img/core-img/007-whatsapp.png' %}" alt="" width="40px">
            </a>
        </li>
        <li class="dropdown-toggle dropdown-item bg-transparent" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <a href="https://m.me/MessengerTaskBot">
                <img src="{% static 'img/core-img/044-messenger.png' %}" alt="" width="40px">
            </a>
        </li>
    </ul>
</div>

<div class="floating-wpp"></div>


<!-- ****** Footer Area End ****** -->

<!-- jQuery-2.2.4 js -->
<script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
<!-- Popper js -->
<script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
<!-- Bootstrap-4 js -->
<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
<!-- All Plugins js -->
<script src="{% static 'js/others/plugins.js' %}"></script>
<!-- Active JS -->
<script src="{% static 'js/active.js' %}"></script>
<script>

$('ul.gres li').on("click", function(e) {
  var go_to_url = $(this).find("a").prop("href").val();
  window.open(go_to_url, '_blank');
});


</script>
{% block js_code %}

{% endblock %}
</body>

</html>