<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>SIS-TOUR</title>
    <link rel="icon" href="{% static 'img/core-img/icon.ico' %}">

    <!-- Core Stylesheet -->
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive/responsive.css' %}" rel="stylesheet">
    <!-- Responsive CSS -->


</head>


<body>
<!-- Preloader -->
<div id="preloader">
    <div class="dorne-load"></div>
</div>

<!-- ***** Search Form Area ***** -->
<div class="dorne-search-form d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="search-close-btn" id="closeBtn">
                    <i class="pe-7s-close-circle" aria-hidden="true"></i>
                </div>
                <form action="#" method="get">
                    <input type="search" name="caviarSearch" id="search"
                           placeholder="Search Your Desire Destinations or Events">
                    <input type="submit" class="d-none" value="submit">
                </form>
            </div>
        </div>
    </div>
</div>

<!-- ***** Header Area Start ***** -->
<header class="header_area" id="header">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-12 h-100">
                <nav class="h-100 navbar navbar-expand-lg">
                    <a class="navbar-brand" href="\">
                        <img src="/static/img/core-img/turismo.png" width="230px" height="70px" alt=""
                             class="d-none d-sm-block">
                        <img src="/static/img/core-img/turismo1.png" width="70px" height="70px" alt=""
                             class="d-block d-sm-none"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dorneNav"
                            aria-controls="dorneNav" aria-expanded="false" aria-label="Toggle navigation"><span
                            class="fa fa-bars"></span></button>
                    <!-- Nav -->
                    <div class="collapse navbar-collapse" id="dorneNav" style="text-align:center;">
                        <ul class="navbar-nav mr-auto" id="dorneMenu" style="text-align:center;">
                            <li class="nav-item" style="text-align:center;">
                                <a class="nav-link " href="\"><i class="fa fa-home" aria-hidden="true"></i> <br>Inicio
                                </a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                        class="fa fa-camera-retro" aria-hidden="true"></i> <br>Turismo <i
                                        class="fa fa-angle-down" aria-hidden="true"></i></a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{% url 'transports-index' %}">
                                        <i class="fa fa-bus" aria-hidden="true"></i> Transportes</a>
                                    <a class="dropdown-item" href="{% url 'lodging-index' %}">
                                        <i class="fa fa-hotel" aria-hidden="true"></i> Hospedajes</a>
                                    <a class="dropdown-item" href="{% url 'restaurants-index' %}">
                                        <i class="fa fa-cutlery"></i> Restaurantes</a>
                                    <a class="dropdown-item" href="{% url 'agencies-index' %}">
                                        <i class="fa fa-street-view" aria-hidden="true"></i> Agencias de turismo</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'events-index' %}">
                                    <i class="fa fa-bell" aria-hidden="true"></i> <br>Eventos Culturales</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'tourism_sites-index' %}">
                                    <i class="fa fa-universal-access" aria-hidden="true"></i><br> Sitios Turisticos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'tourism_routes-index' %}">
                                    <i class="fa fa-road" aria-hidden="true"></i><br>Rutas Turisticas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'secretary' %}">
                                    <i class="fa fa-institution " aria-hidden="true"></i> <br>Secretaria</a>
                            </li>
                        </ul>
                        <!-- Search btn -->
                        <div class="dorne-search-btn">
                            <a id="search-btn" href="#"><i class="fa fa-search" aria-hidden="true"></i> <br>Buscar</a>
                        </div>
                        <!-- Signin btn -->
                        <div class="dorne-signin-btn">
                            <a href="{% url 'login' %}" target="_blank"><i class="fa fa-user-circle-o"></i><br>Login</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->
{% block content %}
{% endblock %}

<!-- ****** Footer Area Start ****** -->
<footer class="dorne-footer-area d-none d-sm-block">
    <div class="container-fluid">
        <div class="contact-text">
            <p align="center">NUMERO DE VISITANTES</p>
            <div id="sfcsen2cy3y4ay1nccclpz5shgxxjyaxfzz" align="center"></div>
        </div>
        <div class="row">
            <div class="col-12 d-md-flex align-items-center justify-content-between">
                <div class="footer-text ">
                    <p class="underline">GOBIERNO AUTONOMO DEPARTAMENTAL DE POTOSI</p>
                </div>

                <div class="footer-social-btns">

                    <a href="https://www.youtube.com/channel/UCFfiBukq0Dv7xku_VfvLarQ"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/carlosdmesag"><i class="fa fa-twitter" aria-haspopup="true"></i></a>
                    <a href="https://www.instagram.com/explore/locations/756301301098790/secretaria-departamental-de-turismo-y-cultura-potosi/"><i class="fa fa-instagram" aria-haspopup="true"></i></a>
                    <a href="https://www.facebook.com/secretariadepartamentaldeturismo/?ref=br_rs"><i class="fa fa-facebook" aria-haspopup="true"></i></a>
                    <a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>


<div class="floating-wpp"></div>

<!-- ****** Footer Area End ****** -->

<!-- jQuery-2.2.4 js -->
<script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
<!-- Popper js -->
<script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
<!-- Bootstrap-4 js -->
<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
<!-- All Plugins js -->
<script src="{% static 'js/others/plugins.js' %}"></script>
<!-- Active JS -->
<script src="{% static 'js/active.js' %}"></script>


{% block js_code %}
{% endblock %}
</body>

</html>