@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Home
4. Header
	4.1 Logo
	4.2 Navigation
	4.3 Search
	4.4 Hamburger
5. Menu
	5.1 Menu Social
	5.2 Menu copyright
6. Find
7. News
8. Sidebar
9. Newsletter
10. Footer


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');


.post_image
{
	margin-top: 28px;

}
.post_image img
{
	width: 100%;
	height: 400px;
}