{% extends 'admin.html' %}

{% block content-header %}
<nav aria-label="breadcrumb" class="alert-warning">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a class="page" href="{% url 'lodgings-index-admin' %}" data-tooltip="tooltip" data-placement="right"
               title="Atrás">Hospedajes</a>
        </li>
        <li class="breadcrumb-item">
            <a class="page_second" href="{% url 'lodgings-show-admin' lodging_id %}" data-tooltip="tooltip"
               data-placement="right"
               title="Hospedajes">{{lodging_title}}</a>
        </li>
        <li class="breadcrumb-item">
            <a class="page_third" href="{% url 'lodgings-schedules-index-admin' %}" data-tooltip="tooltip"
               data-placement="right"
               title="Horarios">Horarios</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Modificando</li>
    </ol>
</nav>

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="white-box">
            {% include 'partials/_partial_form_horizontal.html' %}
        </div>
    </div>
</div>
{% endblock %}

{% block code_js %}
<script>
    $('[data-mask]').inputmask();
</script>
<script>
    $('.sidebar-menu li').removeClass('active');
    $('#lodgings').toggleClass("active");

    $('.treeview-menu li').removeClass('active');
    $('#lodgings-lodgings').toggleClass("active");
</script>
{% endblock %}