{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}


{% block content %}
    <!-- ***** Breadcumb Area Start ***** -->
    <div class="breadcumb-area bg-img bg-overlay"
         style="background-image: url({% static 'img/bg-img/hero-2.jpg' %})"></div>
    <!-- ***** Breadcumb Area End ***** -->

    <section class="dorne-editors-pick-area bg-img bg-overlay-9 section-padding-100"
             style="background-image: url(/static/img/bg-img/hero-2.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h4>AGENCIAS DE TURISMO</h4>
                        <span></span>
                    </div>
                </div>
            </div>
            {% for agency in agencys %}
                <div class="contact-text row">
                    <div class="agency col-12 col-lg-6">
                        <div class="imga single-editors-pick-area wow fadeInUp" data-wow-delay="0.2s"
                             style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                            <img src="{{ agency.image.url }}" alt="">
                            <div class="ratings-map-area d-flex">
                                <a href="#">{{ agency.rating }}</a>
                                <a href="#" data-toggle="modal" data-target="#exampleModal"
                                   data-url="{{ agency.location }}" class="open-frame"><img
                                        src="{% static 'img/core-img/map.png' %}" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="contact-text">
                            <h4>{{ agency.title }}</h4>
                            <p>{{ agency.service.all }}</p>
                            <div class="contact-info d-lg-flex">
                                <div class="single-contact-info">
                                    <p><i class="fa fa-map-signs" aria-hidden="true"></i>. No. 25-33</p>
                                    <p><i class="fa fa-envelope-o" aria-hidden="true"></i>. {{ agency.address }}</p>
                                    <p><i class="fa fa-phone" aria-hidden="true"></i>. {{ agency.phone }}</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
{% block js_code %}
    <script>
        $(document).ready(function () {
            $('.open-frame').on('click', function () {
                var url = $(this).attr('data-url');
                $('.modal-title').html('Ubicacion');
                $('.modal-body').html(
                    '<iframe src="' + url + '" width="100%" height="400" frameborder="2" style="border:0" allowfullscreen=""></iframe>'
                )
            })
        })
    </script>
{% endblock %}

