{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% load utils %}

{% block content %}

<!-- ***** Breadcumb Area Start ***** -->
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/hero-3.jpg' %})"></div>
<!-- ***** Breadcumb Area End ***** -->

<!-- ***** Single Listing Area Start ***** -->
<section class="dorne-single-listing-area section-padding-0-50">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Single Listing Content -->
            <div class="col-12 col-lg-8">
                <div class="single-listing-content">
                    <div class="listing-title">
                        <h4>{{agency.title}}</h4>
                        <h6>
                            {% for i in score|times %}
                            <i class="fa fa-star underline-star"></i>
                            {% endfor %}
                        </h6>
                        <h6>{{agency.destination}}</h6>
                        <h6>{{agency.address}}</h6>
                    </div>

                    <div class="single-listing-nav">
                        <nav>
                            <ul id="listingNav">
                                <li><a href="#menu">Paquetes</a></li>
                                <li><a href="#lomap">Ubicacion en mapa</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="listing-menu-area mt-100" id="menu">
                        <h4>Paquetes Turisticos</h4>
                        {% for s in services %}
                        <div class="movie_card" id="tomb">
                            <div class="info_section">
                                <div class="movie_header">
                                    <h4>{{ s.title }}</h4>
                                    <h6>{{ s.place_start }}</h6>
                                </div>
                                <div class="movie_desc">
                                    <p class="text">{{ s.places_to_known }}</p>
                                </div>
                                <div class="movie_social">
                                    <ul>
                                        <li><i class="material-icons"><strong>Salidas: </strong> {{ s.schedule }}</i>
                                        </li>
                                        <li><i class="material-icons">{{ s.departures }}</i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="blur_back"
                                 style="background:url({{s.image.url}}); background-repeat: no-repeat; background-size: 100% 100%;">
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="listing-menu-area mt-100" id="lomap">
                        <h4>Ubicacion en mapa</h4>
                        <div class="location-map" onload="initialize()">
                            <div class="white-box">
                                <div id="gmap" style="width: 100%; height: 450px" class="border-map"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Listing Sidebar -->
            <div class="col-12 col-md-8 col-lg-4">
                <div class="listing-sidebar">
                    <div class="opening-hours-widget mt-50">
                        <h6 class="underline"><i class="fa fa-info text-light"></i> Informacion</h6>
                        <div class="opening-hours">
                            <p>
                                <label class="les"><i class="fa fa-phone" aria-hidden="true"></i> Telefono</label><br>
                                <span class="alert bg-success link">{{ agency.phone }}</span>
                            </p>
                            {% if agency.web is None %}
                            <p>
                                <label class="les"><i class="fa fa-chrome" aria-hidden="true"></i> Sitio Web</label><br>
                                <span class="alert bg-success link"><a href="{{ agency.web }}" target="_blank">{{ agency.web }}</a></span>
                            </p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="opening-hours-widget mt-50">
                        <h6 class="underline"><i class="fa fa-calendar text-light"></i> Horarios de Atencion</h6>
                        <ul class="opening-hours" role="alert">
                            <table class="table table-dark table-striped">
                                {% for q in schedule %}
                                <tr>
                                    <td class="align-right">{% get_days q.day%}</td>
                                    <td class="float-right">{{q.schedule}}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js_code %}
{% include 'partials/_url_gmaps.html' %}
<script type="text/javascript">
        var map;
        var markers = [];
        var lat = '{{ agency.lat }}';
        var lng = '{{ agency.lng }}';
        function initialize() {
            var myLatlng = new google.maps.LatLng(lat, lng);
            var myOptions = {
                zoom: 18,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                gestureHandling: 'greedy',
                gestureHandling: 'greedy'
            };

            map = new google.maps.Map(document.getElementById("gmap"), myOptions);

            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(lat, lng),
                map: map
            });
            markers.push(marker);
        }

        window.onload = function () {
            initialize()
        };

        $(function () {
        $('[data-toggle="tooltip"]').tooltip()
        })






</script>
{% endblock %}

