{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% load utils %}
{% block content %}



<section class="dorne-welcome-area bg-img bg-overlay"
         style="background-image: url({% static 'img/bg-img/hero-11.jpg' %});">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-12 col-md-10">
                <div class="hero-content" align="center">
                    <h2>POTOSI</h2>
                    <h4>La ciudad mas alta del Mundo</h4>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Social Btn -->
    <div class="hero-social-btn">
        <div class="social-title d-flex align-items-center">
            <h6>Nuestras Redes Sociales</h6>
            <span></span>
        </div>
        <div class="social-btns">
            <a href="#"><i class="fa fa-instagram" aria-haspopup="true"></i></a>
            <a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-haspopup="true"></i></a>
            <a href="#"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-facebook" aria-haspopup="true"></i></a>
        </div>
    </div>
</section>


<!-- ***** Welcome Area End ***** -->
<!-- ***** Catagory Area Start ***** -->
<section class="dorne-catagory-area tab-pane active" name="tourism" id="tourism">
    <div class="container" >
        <div class="row">
            <div class="col-12">
                <div class="all-catagories">
                    <div class="row">
                        <!-- Single Catagory Area -->
                        <div class=" col-12 col-sm-6 col-md " >
                            <a href="{% url 'lodging-index' %}">
                                <div class="imgstyle single-catagory-area wow fadeInUpBig" data-wow-delay="0.2s">
                                    <div class="catagory-content">
                                        <img src="{% static 'img/core-img/hotel.png' %}" alt="">
                                        <h6>Hospedajes</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Single Catagory Area -->
                        <div class="col-12 col-sm-6 col-md">
                            <a href="{% url 'restaurants-index' %}">
                                <div class="imgstyle single-catagory-area wow fadeInUpBig" data-wow-delay="0.4s">
                                    <div class="catagory-content">
                                        <img src="{% static 'img/core-img/restaurant.png' %}" alt="">
                                        <h6>Restaurantes</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Single Catagory Area -->
                        <div class="col-12 col-sm-6 col-md ">
                            <a href="{% url 'transports-index' %}">
                                <div class="imgstyle single-catagory-area wow fadeInUpBig" data-wow-delay="0.6s">
                                    <div class="catagory-content">
                                        <img src="{% static 'img/core-img/transporte.png' %}" alt="">
                                        <h6>Transportes</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Single Catagory Area -->
                        <div class="col-12 col-sm-6 col-md ">
                            <a href="{% url 'agencies-index' %}">
                                <div class="imgstyle single-catagory-area wow fadeInUpBig" data-wow-delay="0.8s">
                                    <div class="catagory-content">
                                        <img src="{% static 'img/core-img/agencia.png'%}" alt="">
                                        <h6>Agencias de Turismo</h6>

                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Single Catagory Area -->
                        <div class="col-12 col-sm-6 col-md ">
                            <a href="{% url 'tourism_sites-index' %}">
                                <div class="imgstyle single-catagory-area wow fadeInUpBig" data-wow-delay="1s">
                                    <div class="catagory-content">
                                        <img src="{% static 'img/core-img/sitios.png' %}" alt="">
                                        <h6>Sitios Turisticos</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Catagory Area End ***** -->
<!-- ***** About Area Start ***** -->
<section class="dorne-about-area section-padding-0-10">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about-content text-center">
                    <h2>POTOSI UN LUGAR LLENO DE <br><span>HISTORIA</span></h2>
                    <p>Conoce los lugares turisticos de Potosi </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** About Area End ***** -->

<section class="dorne-editors-pick-area bg-img bg-overlay-9 section-padding-100"
         style="background-color:#30c0a3;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <span></span>
                    <h4>Sitios Turisticos</h4>
                    <p>Que lugares conocer ?</p><br>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="single-editors-pick-area wow fadeInUp" data-wow-delay="0.2s">
                    <img class="imgstyle" src="{% static 'img/bg-img/uyuni.jpg' %}" alt="">
                    <div class="editors-pick-info">
                        <div class="places-total-destinations d-flex">
                            <a href="#">Uyuni</a>
                            <a href="#">1643 Destinos Turisticos</a>
                        </div>
                        <div class="add-more">
                            <a href="{% url 'tourism_sites-index' %}">+</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="single-editors-pick-area wow fadeInUp" data-wow-delay="0.4s">
                    <img class="imgstyle" src="{% static 'img/bg-img/potosi.jpg' %}" alt="">
                    <div class="editors-pick-info">
                        <div class="places-total-destinations d-flex">
                            <a href="#">Potosi</a>
                            <a href="#">943 Destinos Turisticos</a>
                        </div>
                        <div class="add-more">
                            <a href="{% url 'tourism_sites-index' %}">+</a>
                        </div>
                    </div>
                </div>
                <div class="single-editors-pick-area wow fadeInUp" data-wow-delay="0.6s">
                    <img class="imgstyle" src="{% static 'img/bg-img/tupiza.jpg' %}" alt="">
                    <div class="editors-pick-info">
                        <div class="places-total-destinations d-flex">
                            <a href="#">Tupiza</a>
                            <a href="#">243 Destinos Turisticos</a>
                        </div>
                        <div class="add-more">
                            <a href="{% url 'tourism_sites-index' %}">+</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Editor Pick Area End ***** -->

<!-- ***** Features Destinations Area Start ***** -->
<section class="dorne-features-destinations-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="section-heading dark text-center">
                    <span></span>
                    <h4>HOSPEDAJES</h4>
                    <p>Donde descansar ?</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="features-slides owl-carousel">
                    {% for r in lodging %}
                    <div class=" single-features-area">
                        <a href="{% url 'lodging-show' r.id %}">
                            <img class="imgstyle" src="{{ r.image.url }}" alt="">
                            <!-- Price -->
                            <div class="price-start">
                                <p>{{r.score}}</p>
                            </div>
                            <div class="feature-content d-flex align-items-center justify-content-between">
                                <div class="feature-title">
                                    <h5>{{r.title}}</h5>
                                    <p>{{r.address}}</p>
                                </div>
                                <div class="feature-favourite">
                                    <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor%}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Destinations Area End ***** -->
<!-- ***** Features Restaurant Area Start ***** -->
<section class="dorne-features-restaurant-area bg-default">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <span></span>
                    <h4>Restaurantes</h4>
                    <p>Donde comer ?</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="features-slides owl-carousel">
                    {% for l in restaurants %}
                    <div class="single-features-area">
                        <a href="{% url 'restaurants-show' l.id %}">
                            <img class="imgstyle" src="{{ l.image.url }}" alt="">
                            <!-- Rating & Map Area -->
                            <div class="ratings-map-area d-flex">
                                <span class="alert alert-dark">{{l.score}}</span>
                            </div>
                            <div class="feature-content d-flex align-items-center justify-content-between">
                                <div class="feature-title">
                                    <h5>{{l.title}}</h5>
                                    <p>{{l.address}}</p>
                                </div>
                                <div class="feature-favourite">
                                    <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>


    </div>
</section>
<!-- ***** Features Restaurant Area End ***** -->
<!-- ***** Features Events Area Start ***** -->
<section class="dorne-features-events-area bg-img bg-overlay-9 section-padding-100-50"
         style="background-image: url({% static 'img/bg-img/maxresdefault.jpg' %})">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <span></span>
                    <h4>TRANSPORTES</h4>
                    <p>En que viajar ?</p><br>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="features-slides owl-carousel">
                    {% for t in transports %}
                    <div class="single-features-area">
                        <a href="{% url 'transports-show' t.id %}">
                            <div class="feature-title">
                                <h5>{{t.title}}</h5>
                            </div>
                            <img class="imgstyle" src="{{ t.image.url }}" alt="">
                            <div class="feature-content d-flex align-items-center justify-content-between">
                                <div class="feature-title">
                                    {% get_destiny_transport t.id as destiny %}
                                    <p><i class="fa fa-car" aria-hidden="true"></i>.
                                        {% for a in destiny %}
                                        {{ a.title }},
                                        {% endfor %}
                                    </p>
                                </div>

                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>


<div class="dorne-clients-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="clients-logo d-md-flex align-items-center justify-content-around">

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block js_scripts%}
<!-- end feedwind code -->
{% endblock %}
