{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block content %}
<!-- ***** Welcome Area Start ***** -->
<section class="dorne-welcome-area bg-img bg-overlay"
         style="background-image: url({% static 'img/bg-img/hero-11.jpg' %});">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-12 col-md-10">
                <div class="hero-content" align="center">
                    <h2>POTOSI</h2>
                    <h4>La ciudad mas alta del Mundo</h4>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Social Btn -->
    <div class="hero-social-btn">
        <div class="social-title d-flex align-items-center">
            <h6>Nuestras Redes Sociales</h6>
            <span></span>
        </div>
        <div class="social-btns">
            <a href="#"><i class="fa fa-instagram" aria-haspopup="true"></i></a>
            <a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-haspopup="true"></i></a>
            <a href="#"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-facebook" aria-haspopup="true"></i></a>
        </div>
    </div>
</section>


<!-- ***** Welcome Area End ***** -->
<!-- ***** Catagory Area Start ***** -->
<section class="dorne-catagory-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="all-catagories">
                    <div class="row">
                        <!-- Single Catagory Area -->
                        <div class="col-12 col-sm-6 col-md">
                            <div class="single-catagory-area wow fadeInUpBig" data-wow-delay="0.2s">
                                <div class="catagory-content">
                                    <img src="{% static 'img/core-img/hotel.png' %}" alt="">
                                    <a href="{% url 'lodgments-index' %}">
                                        <h6>Hospedajes</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Catagory Area -->
                        <div class="col-12 col-sm-6 col-md">
                            <div class="single-catagory-area wow fadeInUpBig" data-wow-delay="0.4s">
                                <div class="catagory-content">
                                    <img src="{% static 'img/core-img/restaurant.png' %}" alt="">
                                    <a href="{% url 'restaurants-index' %}">
                                        <h6>Restaurantes</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Catagory Area -->
                        <div class="col-12 col-sm-6 col-md">
                            <div class="single-catagory-area wow fadeInUpBig" data-wow-delay="0.6s">
                                <div class="catagory-content">
                                    <img src="{% static 'img/core-img/transporte.png' %}" alt="">
                                    <a href="{% url 'transports-index' %}">
                                        <h6>Transportes</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Catagory Area -->
                        <div class="col-12 col-sm-6 col-md">
                            <div class="single-catagory-area wow fadeInUpBig" data-wow-delay="0.8s">
                                <div class="catagory-content">
                                    <img src="{% static 'img/core-img/agencia.png'%}" alt="">
                                    <a href="{% url 'agencys-index' %}">
                                        <h6>Agencias de Turismo</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Catagory Area -->
                        <div class="col-12 col-md">
                            <div class="single-catagory-area wow fadeInUpBig" data-wow-delay="1s">
                                <div class="catagory-content">
                                    <img src="{% static 'img/core-img/sitios.png' %}" alt="">
                                    <a href="{% url 'torism_sites-index' %}">
                                        <h6>Sitios Turisticos</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Catagory Area End ***** -->
<!-- ***** About Area Start ***** -->
<section class="dorne-about-area section-padding-0-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about-content text-center">
                    <h2>POTOSI UN LUGAR LLENO DE <br><span>HISTORIA</span></h2>
                    <p>Conoce los lugares turisticos de Potosi </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** About Area End ***** -->

<section class="dorne-editors-pick-area bg-img bg-overlay-9 section-padding-100"
         style="background-image: url({% static 'img/bg-img/hero-2.jpg' %});">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <span></span>
                    <h4>Sitios Turisticos</h4>
                    <p>Que lugares conocer ?</p><br>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="single-editors-pick-area wow fadeInUp" data-wow-delay="0.2s">
                    <img src="{% static 'img/bg-img/uyuni.jpg' %}" alt="">
                    <div class="editors-pick-info">
                        <div class="places-total-destinations d-flex">
                            <a href="#">Uyuni</a>
                            <a href="#">1643 Destinos Turisticos</a>
                        </div>
                        <div class="add-more">
                            <a href="#">+</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="single-editors-pick-area wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{% static 'img/bg-img/potosi.jpg' %}" alt="">
                    <div class="editors-pick-info">
                        <div class="places-total-destinations d-flex">
                            <a href="#">Potosi</a>
                            <a href="#">943 Destinos Turisticos</a>
                        </div>
                        <div class="add-more">
                            <a href="#">+</a>
                        </div>
                    </div>
                </div>
                <div class="single-editors-pick-area wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{% static 'img/bg-img/tupiza.jpg' %}" alt="">
                    <div class="editors-pick-info">
                        <div class="places-total-destinations d-flex">
                            <a href="#">Tupiza</a>
                            <a href="#">243 Destinos Turisticos</a>
                        </div>
                        <div class="add-more">
                            <a href="#">+</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Editor Pick Area End ***** -->

<!-- ***** Features Destinations Area Start ***** -->
<section class="dorne-features-destinations-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="section-heading dark text-center">
                    <span></span>
                    <h4>HOSPEDAJES</h4>
                    <p>Donde descansar ?</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="features-slides owl-carousel">
                    {% for r in lodgments %}
                    <div class="single-features-area">
                        <img src="{{ r.image.url }}" alt="">
                        <!-- Price -->
                        <div class="price-start">
                            <p>{{r.rating}}</p>
                        </div>
                        <div class="feature-content d-flex align-items-center justify-content-between">
                            <div class="feature-title">
                                <h5>{{r.title}}</h5>
                                <p>{{r.address}}</p>
                            </div>
                            <div class="feature-favourite">
                                <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    {% endfor%}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Destinations Area End ***** -->
<!-- ***** Features Restaurant Area Start ***** -->
<section class="dorne-features-restaurant-area bg-default">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <span></span>
                    <h4>Restaurantes</h4>
                    <p>Donde comer ?</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="features-slides owl-carousel">
                    {% for l in restaurants%}
                    <div class="single-features-area">
                        <img src="{{ l.image.url }}" alt="">
                        <!-- Rating & Map Area -->
                        <div class="ratings-map-area d-flex">
                            <a href="#">{{l.rating}}</a>
                        </div>
                        <div class="feature-content d-flex align-items-center justify-content-between">
                            <div class="feature-title">
                                <h5>{{l.title}}</h5>
                                <p>{{l.address}}</p>
                            </div>
                            <div class="feature-favourite">
                                <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Restaurant Area End ***** -->
<!-- ***** Features Events Area Start ***** -->
<section class="dorne-features-events-area bg-img bg-overlay-9 section-padding-100-50"
         style="background-image: url({% static 'img/bg-img/hero-3.jpg' %})">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <span></span>
                    <h4>TRANSPORTES</h4>
                    <p>En que viajar ?</p><br>
                </div>
            </div>
        </div>

        <div class="row">
            {% for t in transports %}
            <div class="col-12 col-lg-6 ">
                <div class="transport single-feature-events-area d-sm-flex">
                    <div class="feature-events-thumb">
                        <img src="{{t.image.url}}" alt="">
                        <div class="date-map-area d-flex">
                            <a href="#">{{t.rating}}</a>
                        </div>
                    </div>
                    <div class="feature-events-content">
                        <h5>{{t.title}}</h5>
                        <h6>{{t.phone}}</h6>
                        <p>{{t.destination}}</p>
                    </div>
                    <div class="feature-events-details-btn">
                        <a href="#">+</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<div class="fb-page"
     data-href="https://www.facebook.com/Secretaria-De-Turismo-Y-Cultura-Potosi-Bolivia-292810844120569/"
     data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
     data-show-facepile="true">
    <blockquote cite="https://www.facebook.com/Secretaria-De-Turismo-Y-Cultura-Potosi-Bolivia-292810844120569/"
                class="fb-xfbml-parse-ignore"><a
            href="https://www.facebook.com/Secretaria-De-Turismo-Y-Cultura-Potosi-Bolivia-292810844120569/">Secretaria
        De Turismo Y Cultura Potosi Bolivia</a></blockquote>
</div>
<a href="whatsapp://send?text=Hello%20World!">Tutoriales En Linea!</a>
<!-- ***** Features Events Area End ***** -->
<!-- ***** Clients Area Start ***** -->
<div class="dorne-clients-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="clients-logo d-md-flex align-items-center justify-content-around">
                    <img src="{% static 'img/clients-img/1.png' %}" alt="">
                    <img src="{% static 'img/clients-img/2.png' %}" alt="">
                    <img src="{% static 'img/clients-img/3.png' %}" alt="">
                    <img src="{% static 'img/clients-img/4.png' %}" alt="">
                    <img src="{% static 'img/clients-img/5.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Clients Area End ***** -->


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.12';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

</script>

{% endblock %}