{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% load utils %}

{% block content %}
<!-- ***** Breadcumb Area Start ***** -->
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/hero-2.jpg' %})"></div>
<!-- ***** Breadcumb Area End ***** -->
<!-- ***** Features Events Area Start ***** -->
<section class="dorne-features-events-area bg-img bg-overlay-9 section-padding-100-50"
         style="background-image: url({% static 'img/bg-img/hero-3.jpg' %})">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <span></span>
                    <h4>Hospedajes</h4>
                    <p>Donde descansar ?</p>
                    <hr>
                </div>
            </div>
        </div>

        <div class="row">
            {% for types in typeslod %}
            {% get_lodging types.id as lod %}
            {% if lod %}
            <div class="col-12 text-center section-heading">
                <h4>{{types.title}}</h4>
            </div>

            <div class="col-12 col-lg-6">
                <div class="single-feature-events-area d-sm-flex align-items-center wow fadeInUpBig"
                     data-wow-delay="0.2s">

                    {% for t in lod %}
                    <div class="feature-events-thumb">
                        <img src="{{ t.image.url }}" alt="">
                        <div class="date-map-area d-flex">
                            <a href="#">{{t.rating}}</a>
                        </div>
                    </div>
                    <div class="feature-events-content">
                        <h5>{{t.title}}</h5>
                        <h6>Potosi</h6>
                        <p><i class="fa fa-envelope" aria-hidden="true"></i>. {{ t.address }}</p>
                        <p><i class="fa fa-phone" aria-hidden="true"></i>. {{ t.phone }}</p>
                    </div>
                    <div class="feature-events-details-btn">
                        <a href="{% url 'lodging-show' t.id %}"><img src="{% static 'img/core-img/show.png' %}"
                                                                     alt=""></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
<!-- ***** Features Events Area End ***** -->
{% endblock %}
