{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% load utils %}

{% block content %}

<!-- ***** Breadcumb Area Start ***** -->
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/hero-3.jpg' %})"></div>
<!-- ***** Breadcumb Area End ***** -->

<!-- ***** Single Listing Area Start ***** -->
<section class="dorne-single-listing-area section-padding-0-50">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Single Listing Content -->
            <div class="col-12 col-lg-8">
                <div class="single-listing-content">

                    <div class="listing-title">
                        <h4>{{restaurant.title}}</h4>
                        <h6>{{restaurant.address}}</h6>
                    </div>

                    <div class="single-listing-nav">
                        <nav>
                            <ul id="listingNav">
                                <li class="active"><a href="#overview"><i class="fa fa-child"></i> Servicios</a></li>
                                <li><a href="#menu"><i class="fa fa-cutlery"></i> Menu</a></li>
                                <li><a href="#lomap"><i class="fa fa-map-marker"></i> Ubicacion en mapa</a></li>
                            </ul>
                        </nav>
                    </div>

                    <div class=" listing-menu-area overview-content mt-50" id="overview">
                        <h4>SERVICIOS</h4>

                        {% for s in restaurant.service.all %}
                        <table class="table table-light table-hover">
                            <tbody>
                            <tr class="ser">
                                <td width="20%" align="center" class="alert-info">
                                    <img src="{{s.image.url}}" width="40px" height="40px">
                                </td>
                                <td>{{ s.title }}</td>
                            </tr>
                            </tbody>
                        </table>
                        {% endfor %}
                    </div>
                    <div class="listing-menu-area mt-100" id="menu">
                        <h4>MENU</h4>
                        {% for m in menu %}
                        <div class="single-listing-menu d-flex justify-content-between">
                            <!-- Listing Menu Title -->
                            <div class="listing-menu-title">
                                <h6>{{m.title}}</h6>
                                <p>{{m.description}}</p>
                                <span class="badge badge-primary">{{m.price}}Bs.</span>
                            </div>
                            <div class="listing-menu-title">
                                <img src="{{m.image.url}}" width="300px" height="150px">
                            </div>
                        </div>
                        {% endfor%}
                    </div>

                    <div id="lomap">
                        <h4>Ubicacion en mapa</h4>
                        <div class="location-map" onload="initialize()">
                            <div class="white-box">
                                <div id="gmap" style="width: 100%; height: 450px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Listing Sidebar -->
            <div class="col-12 col-md-8 col-lg-4">

                <div class="listing-sidebar">
                    <div class="opening-hours-widget mt-50">
                        <h6>Informacion</h6>
                        <ul class="opening-hours">
                            <li><p><i class="fa fa-star" aria-hidden="true"></i>. {{ restaurant.score }}</p></li>
                            <li><p><i class="fa fa-phone" aria-hidden="true"></i>. {{ restaurant.phone }}</p></li>
                            <li><p><i class="fa fa-chrome" aria-hidden="true"></i>. {{ restaurant.web }}</p></li>
                        </ul>
                    </div>

                    <div class="opening-hours-widget mt-50">
                        <h6><i class="fa fa-calendar"></i> Horarios de Atencion</h6>
                        <ul class="opening-hours">
                            {% for q in schedule %}
                            <li>
                                <p>{% get_days q.day%}</p>
                                <p>{{q.schedule}}</p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Single Listing Area End ***** -->

{% endblock %}

{% block js_code %}
{% include 'partials/_url_gmaps.html' %}
<script type="text/javascript">
        var map;
        var markers = [];
        var lat = '{{ restaurant.lat }}';
        var lng = '{{ restaurant.lng }}';
        function initialize() {
            var myLatlng = new google.maps.LatLng(lat, lng);
            var myOptions = {
                zoom: 14,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            map = new google.maps.Map(document.getElementById("gmap"), myOptions);

            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(lat, lng),
                map: map
            });
            markers.push(marker);
        }

        window.onload = function () {
            initialize()
        };


</script>
{% endblock %}