{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}


{% block content %}
  <!-- ***** Breadcumb Area Start ***** -->
    <div class="breadcumb-area bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/hero-3.jpg' %})"></div>
    <!-- ***** Breadcumb Area End ***** -->
    <div class="single-review-area">
        <h5>GOBIERNO AUTONOMO DEPARTAMENTAL DE POTOSI</h5>
        <div class="reviewer-meta">
             <img src="{% static 'img/clients-img/1.jpg' %}" alt="">
        </div>
        <h6>LIC. YAMELI CARLO HUAYTA </h6>
        <p>Secretaria Departamental de Culturas y Turismo<</p>
    </div>

    <section>
            <br><br><br>
            <div class="clients-area center wow fadeInDown">
            <div class="container">
            <h2>Objetivos</h2><hr>
                <div class="">
                    <p>
                    <span>La Secretaria Departamental de Culturas y Turismo, tiene como objetivo central “Ejecutar y
                        administrar políticas, planes, programas y proyectos de promoción y desarrollo turístico emanados
                        del ente rector en estrecha coordinación con los Gobiernos Municipales, aprovechando el potencial
                        que tiene el departamento, en el marco de la política sectorial, para generar procesos interculturales,
                        que permitan el desarrollo turístico del Departamento; enmarcados en la política nacional y sectorial,
                        para generar ingresos y empleo”.</span>
                    </p>
                </div>
            </div>
            </div>
    </section>

    <section>
            <div class="clients-area center wow fadeInDown">
                <div class="container">
                    <h2>Funciones</h2><hr>
                    <p>
                    <ol >
                        <li>Planificación, gestión de proyectos, acciones para el desarrollo de la actividad turística y cultural en el Departamento.</li>
                        <li>En el momento de la elaboración del POA, en el formulario POA 03, verificar las competencias de la Gobernación y evitar incurrir en gastos que se encuentran al margen de las disposiciones legales (recursos del IDH)</li>
                        <li>Análisis de la estructura y mediciones sobre el desempeño para verificar si estas cuentan con los recursos materiales y humanos para el cumplimiento de los objetivos establecidos en el POA.</li>
                        <li>Identificación y análisis de riesgos, relevantes, actuales y potenciales de origen interno y externo que afecten la consecución de los objetivos institucionales.</li>
                        <li>Definición de Medidores de Rendimiento para la detección de desvíos en la eficacia operativa que constituyan por si mismos herramientas para diseñar los sistemas de alerta temprana y las actividades de control.</li>
                        <li>Coordinar la ejecución de proyectos y actividades que contribuyan al desarrollo turístico y cultural, con actores públicos, privados y comunitarios.</li>
                        <li>Apoyo y supervisión en el manejo de datos estadísticos de flujo, además del manejo de información turística del departamento.</li>
                        <li>Coordinar y supervisar el cumplimiento de las normas de turismo y cultura para control de calidad de servicios prestados, como también de protección y preservación de bienes culturales y patrimoniales.</li>
                        <li>Coordinar y supervisar eventos culturales trascendentales para el departamento.</li>
                        <li>Apoyar emprendimientos de tipo comunitario, en coordinación con municipios, según políticas del PTDI en materia turística.</li>
                        <li>Estructurar y supervisar el funcionamiento del FIC. con apoyo técnico y a la difusión de festividades, festi ferias, eventos culturales particulares que tienen las regiones del Departamento de Potosí.</li>
                        <li>Elaborar estudios de promoción y fomento del turismo a nivel departamental.</li>
                        <li>Definir estrategias para la inventariación de los recursos turísticos del departamento.</li>
                        <li>Elaborar estudios y proyectos que permitan el desarrollo del potencial turístico de la ciudad y las provincias del departamento.</li>
                        <li>Formación de un banco de datos del sector con información estadística del flujo turístico en el departamento.</li>
                        <li>Desarrollar políticas y estrategias de desarrollo turístico.</li>
                        <li>Elaborar el diagnóstico departamental de turismo.</li>
                        <li>Coordinar y controlar los servicios de turismo con otras entidades del sector (Migraciones, hoteles)</li>
                        <li>Revisión de las normas que regulen el funcionamiento de las agencias y servicios de turismo, a nivel Departamental.</li>
                        <li>Realizar otras tareas que requiera la MAE.</li>
                    </ol>
                    </p>
                </div>
            </div>
    </section>


{% endblock %}
