{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}


{% block content %}
<!-- ***** Breadcumb Area Start ***** -->
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/hero-3.jpg' %})"></div>
<!-- ***** Breadcumb Area End ***** -->

<!-- Nav tabs -->
<ul class="nav nav-tabs  nav-justified" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link se active" id="home-tab" data-toggle="tab" href="#secretaria" role="tab" aria-controls="home"
           aria-selected="true">SECRETARIA </a>
    </li>
    <li class="nav-item">
        <a class="nav-link se" id="profile-tab" data-toggle="tab" href="#objetivos" role="tab" aria-controls="profile"
           aria-selected="false">OBJETIVOS</a>
    </li>
    <li class="nav-item ">
        <a class="nav-link se" id="messages-tab" data-toggle="tab" href="#funciones" role="tab" aria-controls="messages"
           aria-selected="false">FUNCIONES</a>
    </li>
    <li class="nav-item">
        <a class="nav-link se" id="settings-tab1" data-toggle="tab" href="#organigram" role="tab"
           aria-controls="settings" aria-selected="false">ORGANIGRAMA</a>
    </li>
    <li class="nav-item">
        <a class="nav-link se" id="settings-tab2" data-toggle="tab" href="#unidades" role="tab" aria-controls="settings"
           aria-selected="false">UNIDADES</a>
    </li>
    <li class="nav-item">
        <a class="nav-link se" id="settings-tab3" data-toggle="tab" href="#leyes" role="tab" aria-controls="settings"
           aria-selected="false">LEYES</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <br>
    <div class="tab-pane active" id="secretaria" role="tabpanel" aria-labelledby="secretaria-tab">
        <div class="single-review-area">
            <h6>GOBIERNO AUTONOMO DEPARTAMENTAL DE POTOSI</h6>
            <div class="reviewer-meta">
                <img src="{% static 'img/clients-img/secre.jpg' %}" alt="">
            </div>
            <div class="reviewer-meta">
                <h6>LIC. YAMELI CARLO HUAYTA </h6>
                <p>Secretaria Departamental de Culturas y Turismo</p>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="objetivos" role="tabpanel" aria-labelledby="objetivos-tab">
        <div class="container">
            <h6>OBJETIVOS</h6>
            <hr>
            <ul>
                {% for r in objetivos %}
                <li class="list-group-item list-group-item-dark">
                    {{ r.description }}
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="container"><H1></H1></div>
    </div>
    <div class="tab-pane" id="funciones" role="tabpanel" aria-labelledby="funciones-tab">
        <div class="container">
            <h6>FUNCIONES</h6>
            <hr>
            <table class="table table-striped table-sm ">
                <tbody>
                {% for e in funciones %}
                <tr>
                    <th scope="row">{{ forloop.counter }}.</th>
                    <td>{{ e.description }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane" id="organigram" role="tabpanel" aria-labelledby="organigrama-tab">
        <div class="container table table-responsive">
            <div class="organigrama">
                <ul>
                    <li>
                        <a href="#">Secretario Departamental</a>
                        <ul>
                            <li>
                                <a href="#">Unidad de Desarrollo de Culturas</a>
                                <ul>
                                    <li>
                                        <a href="#">Jefe de Unidad</a>
                                        <ul>
                                            <li>
                                                <a href="#">Patrimonio, Museos y Archivos Historicos</a>
                                            </li>
                                            <li>
                                                <a href="#">Fomento a las Artes, Saberes e Industria</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Unidad de Turismo</a>
                                <ul>
                                    <li>
                                        <a href="#">Jefe de Unidad</a>
                                        <ul>
                                            <li><a href="#">Turismo</a></li>
                                            <li><a href="#">Chofer</a></li>
                                            <li><a href="#">Control de servicios Turisticos</a></li>
                                            <li><a href="#">Infotur SDTC</a></li>
                                            <li><a href="#">Infotur UYUNI</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="tab-pane" id="unidades" role="tabpanel" aria-labelledby="unidades-tab">
        <div class="container">
            <br>
            <h6>Unidades</h6>
            <hr>
            <div class="row text-center" align="center">
                <div class="col-md-6">
                    <ul>
                        <li class="table table-striped ">
                            <span>Unidad de Turismo</span>
                        </li>
                        <li>Jefe de Unidad</li>
                        <li>Ing. XXXXXX XXXXXX XXXXXXXXX</li>
                        <li>Edificio Ex-hotel IV Centenario</li>
                        <li>Teléfono: 62-XXXXXXXX</li>
                    </ul>
                </div>

                <div class="col-md-6">
                    <ul>
                        <li class="table table-striped ">
                            <span>Unidad de Desarrollo y Cultura</span>
                        </li>
                        <li>Jefe de Unidad</li>
                        <li>Ing. XXXXXX XXXXXX XXXXXXXXX</li>
                        <li>Edificio Ex-hotel IV Centenario</li>
                        <li>Teléfono: 62-XXXXXXXX</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="leyes" role="tabpanel" aria-labelledby="leyes-tab">

        <div class="container">
            <h6 style="text-align:center;">LEYES DEPARTAMENTALES</h6>
            <hr>
            <table class="table table-responsive-sm">
                <thead class="table-active">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Descarga</th>
                </tr>
                </thead>
                <tbody>
                {% for doc in documento%}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{doc.description}}</td>
                    <td>
                        <a href="{{doc.file.url}}" target="_blank">
                            <img src="{% static 'img/core-img/pdf.png' %}" alt="">
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}
