{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}


{% block content %}
<!-- ***** Breadcumb Area Start ***** -->
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/hero-3.jpg' %})"></div>
<!-- ***** Breadcumb Area End ***** -->

<!-- Nav tabs -->
<ul class="nav nav-tabs  nav-justified" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#secretaria" role="tab" aria-controls="home" aria-selected="true">SECRETARIA </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#objetivos" role="tab" aria-controls="profile" aria-selected="false">OBJETIVOS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="messages-tab" data-toggle="tab" href="#funciones" role="tab" aria-controls="messages" aria-selected="false">FUNCIONES</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="settings-tab1" data-toggle="tab" href="#organigrama" role="tab" aria-controls="settings" aria-selected="false">ORGANIGRAMA</a>
  </li>
     <li class="nav-item">
    <a class="nav-link" id="settings-tab2" data-toggle="tab" href="#unidades" role="tab" aria-controls="settings" aria-selected="false">UNIDADES</a>
  </li>
     <li class="nav-item">
    <a class="nav-link" id="settings-tab3" data-toggle="tab" href="#leyes" role="tab" aria-controls="settings" aria-selected="false">LEYES</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <br>
    <div class="tab-pane active" id="secretaria" role="tabpanel" aria-labelledby="secretaria-tab">
        <div class="single-review-area">
            <h5>GOBIERNO AUTONOMO DEPARTAMENTAL DE POTOSI</h5>
            <div class="reviewer-meta">
                <img src="{% static 'img/clients-img/secre.jpg' %}" alt="">
            </div>
            <h6>LIC. YAMELI CARLO HUAYTA </h6>
            <p>Secretaria Departamental de Culturas y Turismo</p>
        </div>
    </div>
    <div class="tab-pane" id="objetivos" role="tabpanel" aria-labelledby="objetivos-tab">
        <div class="container">
            <h2>OBJETIVOS</h2>
            <hr>
            <ul>
                {% for r in objetivos %}
                <li class="list-group-item list-group-item-dark">
                    {{ r.description }}
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="container"><H1></H1></div>
    </div>
    <div class="tab-pane" id="funciones" role="tabpanel" aria-labelledby="funciones-tab">
        <div class="container">
            <h2>FUNCIONES</h2>
            <hr>
            <table class="table table-striped table-sm ">
                <tbody>
                {% for e in funciones %}
                <tr>
                    <th scope="row">{{ forloop.counter }}.</th>
                    <td>{{ e.description }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane" id="organigrama" role="tabpanel" aria-labelledby="organigrama-tab">
        <div class="container">
            <h2></h2>
            <hr>
            <img src="{% static 'img/bg-img/turismo.png' %}" alt="">
        </div>
    </div>
    <div class="tab-pane" id="unidades" role="tabpanel" aria-labelledby="unidades-tab">
        <div class="container">
            <br>
            <h2>Unidades</h2>
            <hr>
            <div class="row text-center" align="center">
                <div class="col-md-6">
                    <ul>
                        <li class="table table-striped ">
                            <span>Unidad de Turismo</span>
                        </li>
                        <li>Jefe de Unidad</li>
                        <li>Ing. XXXXXX XXXXXX XXXXXXXXX</li>
                        <li>Edificio Ex-hotel IV Centenario</li>
                        <li>Teléfono: 62-XXXXXXXX</li>
                    </ul>
                </div>

                <div class="col-md-6">
                    <ul>
                        <li class="table table-striped ">
                            <span>Unidad de Desarrollo y Cultura</span>
                        </li>
                        <li>Jefe de Unidad</li>
                        <li>Ing. XXXXXX XXXXXX XXXXXXXXX</li>
                        <li>Edificio Ex-hotel IV Centenario</li>
                        <li>Teléfono: 62-XXXXXXXX</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="leyes" role="tabpanel" aria-labelledby="leyes-tab">

        <div class="container">
            <h5 style="text-align:center;">LEYES DEPARTAMENTALES</h5>
            <hr>
            <table class="table table-responsive-sm">
                <thead class="table-active">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Descarga</th>
                </tr>
                </thead>
                <tbody>
                {% for doc in documento%}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{doc.filename}}</td>
                    <td>{{doc.description}}</td>
                    <td><a href="{{doc.file.url}}" target="_blank"><img src="{% static 'img/core-img/pdf.png' %}"
                                                                           alt=""></a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}
