{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% load utils %}

{% block content %}
<!-- ***** Breadcumb Area Start ***** -->
<div class="breadcumb-area bg-img bg-overlay"
     style="background-image: url({% static 'img/bg-img/casa-moneda-potosi.jpg' %})"></div>
<!-- ***** Breadcumb Area End ***** -->


<section class="dorne-features-events-area bg-img bg-overlay-9 section-padding-0-50"
         style="background-color: white">
    <div class="container">
        <div class="row ">
            <div class="col-12">
                <div class="section-heading text-center">
                    <span></span>
                    <h4>Rutas Turisticas</h4>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row justify-content-between">
            {% for s in routes %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card mb-3">
                    <div class="ratings-area">
                        <img class="card-img-top" src="{{ s.image.url }}" height="215px" alt="Card image cap">
                        <a href="#">{{s.score}}</a>
                    </div>

                    <div class="card-body height-50">
                        <div class="card-title-z">
                            <h5 class="card-title">{{ s.title }}</h5>
                            <a class="btn bg-info text-white" href="{% url 'tourism_routes-show' s.id %}">Mas detalles</a>
                            <p class="card-text">
                                <small class="text-muted">Fecha de Evento: {{ s.date }}</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
