{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}


{% block content %}
<!-- ***** Breadcumb Area Start ***** -->
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/hero-2.jpg' %})"></div>
<!-- ***** Breadcumb Area End ***** -->


<section class="dorne-features-events-area bg-img bg-overlay-9 section-padding-100-50"
         style="background-image: url({% static 'img/bg-img/hero-20.jpg' %})">
    <div class="container">
        <div class="row ">
            <div class="col-12">
                <div class="section-heading text-center">
                    <span></span>
                    <h4>Sitios Turisticos</h4>
                    <p>Que lugares conocer ?</p><br>
                </div>
            </div>
        </div>
<div class="card-deck">
            {% for s in tourism %}
            <div class="w-57 card border-info mb-3 " style="max-width: 18rem;">
                <div class="card-header bg-info border-info">
                    <div class="row">
                        <div class="col-4">
                           <a href="{% url 'tourism_sites-show' s.id %}"><img src="{% static 'img/core-img/show.png' %}" alt=""></a>
                        </div>
                        <div class="col-5"></div>
                        <div align="center" class="col-3 contact-text">
                            {{s.rating}}
                        </div>
                    </div>
                </div>
                <img class="card-img-top" src="{{s.image.url}}" alt="Card image cap">
                <div class="card-body text-info">
                    <h5 class="card-title">{{s.title}}</h5>
                    <p class="card-text">{{s.address}}</p>
                </div>
                <div class="card-footer bg-transparent border-info">{{s.phone}}</div>
            </div>
            {% endfor %}
</div>
    </div>
</section>

{% endblock %}
