{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% load utils %}

{% block content %}
<!-- ***** Breadcumb Area Start ***** -->
<div class="breadcumb-area bg-img bg-overlay"
     style="background-image: url({% static 'img/bg-img/casa-moneda-potosi.jpg' %})"></div>
<!-- ***** Breadcumb Area End ***** -->


<section class="dorne-features-events-area bg-img bg-overlay-9 section-padding-0-50"
         style="background-image: url({% static 'img/bg-img/hero-20.jpg' %})">
    <div class="container">
        <div class="row ">
            <div class="col-12">
                <div class="section-heading text-center">
                    <span></span>
                    <h4>Rutas Turisticas</h4>
                    <p>Lugares a conocer ?</p><br>
                </div>
            </div>
        </div>
        <div class="row justify-content-between">
            {% for d in destiny %}
            {% get_tourism_route d.id as des %}
            {% if des %}
            <div class="col-12 text-center section-heading">
                <h4>{{d.title}}</h4>
            </div>
            {% endif %}
            {% for s in des %}
            <div class="col-12 col-md-6 col-lg-4 mb-3 d-flex justify-content-center">
                <div class="blog-card spring-fever "
                     style="background: url({{ s.image.url }}); background-repeat: no-repeat; background-size: 100% 100%;">
                    <div class="title-content">
                        <h5>{{ s.title }}</h5>
                        <hr/>
                        <div class="intro">
                            <h6>
                                {% get_rounded s.score as score %}
                                {% for i in score|times %}
                                <i class="fa fa-star underline-star"></i>
                                {% endfor %}
                            </h6>
                        </div>
                    </div><!-- /.title-content -->
                    <div class="card-info">
                        <div class="intro">Es visitado muy frecuentemente en fecha: {{ s.date }}</div>
                        <br>
                        <a class="btn btn-warning" href="{% url 'tourism_routes-show' s.id %}">Mas detalles
                        </a>
                    </div>
                    <div class="gradient-overlay"></div>
                    <div class="color-overlay"></div>
                </div>
            </div>
            {% endfor %}
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
