{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% load utils %}

{% block content %}
<!-- ***** Breadcumb Area Start ***** -->
<div class="breadcumb-area bg-img bg-overlay"
     style="background-image: url({% static 'img/bg-img/casa-moneda-potosi.jpg' %})"></div>
<!-- ***** Breadcumb Area End ***** -->


<section class="dorne-features-events-area bg-img bg-overlay-9 section-padding-0-50"
         style="background-color: white">
    <div class="container">
        <div class="row ">
            <div class="col-12">
                <div class="section-heading text-center">
                    <span></span>
                    <h4>Sitios Turisticos</h4><hr>
                </div>
            </div>
        </div>

        <div class="row">

            {% for s in sites %}
            <div class="col-12 col-lg-6">
                <div class="single-feature-events-area d-sm-flex align-items-center wow fadeInUpBig"
                     data-wow-delay="0.2s">
                    <div class="feature-events-thumb">
                        <img class="imgstyle" src="{{ s.image.url }}" alt="">
                        <div class="date-map-area d-flex">
                            <a href="#">{{s.score}}</a>
                        </div>
                    </div>
                    <div class="feature-events-content">
                        <h5>{{s.title}}</h5>
                        <h6>{{s.type}}</h6>
                        <h6>Potosi</h6>
                        <p><i class="fa fa-envelope" aria-hidden="true"></i>. {{ s.address }}<br>
                            <i class="fa fa-phone" aria-hidden="true"></i>. {{ s.phone }}</p>
                    </div>
                    <div class="feature-events-details-btn">
                        <a href="{% url 'tourism_sites-show' s.id %}">+</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
