{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% load utils %}

{% block content %}
<!-- ***** Breadcumb Area Start ***** -->
<div class="breadcumb-area bg-img bg-overlay"
     style="background-image: url({% static 'img/bg-img/ciudad-de-noche.jpg' %})"></div>
<!-- ***** Breadcumb Area End ***** -->

<section class="dorne-listing-destinations-area section-padding-0-50"
         style="background-color: #30c0a3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading dark text-center">
                    <span></span>
                    <h4>Transportes</h4>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            {% for transport in transports %}
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-features-area mb-50 text-center">
                    <img class="imgstyle" src="{{ transport.image.url }}" alt="">
                    <!-- Price -->
                    <div class="price-start">
                        <p>{{ transport.score }}</p>
                    </div>
                    <div class="feature-content d-flex align-items-center justify-content-between">
                        <div class="feature-title text-left">

                            <h5>{{ transport.title }}</h5>
                            <h6>{{ transport.destination }}</h6>
                            <p><i class="fa fa-phone" aria-hidden="true"></i>.
                                {{ transport.phone }}
                            </p>
                            {% get_destiny_transport transport.id as destiny %}
                            <p><i class="fa fa-bus" aria-hidden="true"> </i> <b>Sale a:</b>
                                {% for a in destiny %}
                                {{ a.title }},
                                {% endfor %}
                            </p>
                        </div>
                        <div class="feature-favourite">
                            <a href="{% url 'transports-show' transport.id %}"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- ***** Listing Destinations Area End ***** -->
{% endblock %}
{% block js_code %}
<script>
    $('.navbar-nav li').removeClass('active');
    $('#tourism_web').toggleClass("active");

    $('.tourism_web a').removeClass('active');
    $('#transports_web').toggleClass("active");
</script>
{% endblock %}